<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0;">
  <header
    style="height: 90px; background-color: rgb(10, 10, 96); padding: 20px; display: flex; justify-content: space-between;">
    <div>
      <h1><a href="/home"" style="text-decoration: none; color: white;">Skillora</a></h1>
    </div>
    <div style="padding-top: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <a href="/logout"
        style="text-decoration: none; color: white; padding: 0 30px 0 30px; width: 120px; text-align: center;">LOGOUT</a>
    </div>
  </header>
  <div>
    <h1 style="text-align: center;"> Edit Profile </h1>
    <div style="display: flex; justify-content: center;">
    <% if (error) { %>
      <% error.split(',').forEach(el=> { %>
        <div>
          <p style="color: red; padding: 0 20px 0 20px; border-inline: 1px solid red;">
            <%= el %>
          </p>
        </div>
        <% }) %>
          <% } %>
  </div>
    <div
      style="justify-self: center; width: 380px; min-height: 360px; background-color: rgb(19, 19, 78); border-radius: 12px;">
      <form action="/profile/edit" method="post" style="padding: 20px 40px;">
        <label for="photoUrl"
          style="justify-content: center; justify-self: left; width: 480px; padding: 50px 0 20px 0; color: white;">photoUrl</label>
        <br>
        <input type="text" name="photoUrl" id="photoUrl" value="<%= userProfile.photoUrl %>" style="width: 300px;" /> <br /><br />

        <label for="displayName"
          style="justify-content: center; justify-self: left; width: 480px; padding: 50px 0 20px 0; color: white;">displayName</label><br>
        <input type="text" name="displayName" id="displayName" value="<%= userProfile.displayName %>" style="width: 300px;"/> <br /><br />

        <label for="phoneNumber"
          style="justify-content: center; justify-self: left; width: 480px; padding: 50px 0 20px 0; color: white;">phoneNumber</label><br>
        <input type="number" name="phoneNumber" id="phoneNumber" value="<%= userProfile.phoneNumber %>" style="width: 300px;" /> <br /><br />

        <label for="bio"
          style="justify-content: center; justify-self: left; width: 480px; padding: 50px 0 20px 0; color: white;">bio</label><br>
        <input type="text" name="bio" id="bio" value="<%= userProfile.bio %>" style="width: 300px;" /> <br /><br />

        <div style="justify-self: center; padding-top: 20px;">
          <button submit="submit" style="justify-self: center;">SET PROFILE</button>
        </div>
    </div>
  </div>
  </form>
</body>
</html>
