<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body style="margin: 0;">
    <header
        style="height: 90px; background-color: rgb(10, 10, 96); padding: 20px; display: flex; justify-content: space-between;">
        <div>
            <h1><a href="/home" style="text-decoration: none; color: white;">Skillora</a></h1>
            <a href="/profile" style="text-decoration: none; color: white;">Profile</a>
        </div>
        <div style="padding-top: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <a href="/logout"
                style="text-decoration: none; color: white; padding: 0 30px 0 30px; width: 120px; text-align: center;">LOGOUT</a>
        </div>
    </header>
    <div style="text-align: center;">
        <h1>
            Available
        </h1>
    </div> <br>
    <div style="font-family: Arial, Helvetica, sans-serif; justify-self: center; padding-top: 10px;">
        <table
            style=" border-collapse: collapse; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border: none; margin: auto; ">
            <tr style="background-color: #ececec; font-size: 20px; font-weight: bold;">
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Service Name</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Start Time</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">End Time</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Location</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Action</th>

            </tr>
            <% slots.forEach((el)=> { %>
                <tr style="font-size: 18px; background-color: #ffffff;">
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.serviceName %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.formatStartTime %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.formatEndTime %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.location %>
                    </td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;"><a
                            href="/slots/book/<%= el.id %>">BOOK</a></td>
                </tr>
                <% }) %>
        </table>
    </div>
    <div style="text-align: center;">
        <h1>
            Booked
        </h1>
    </div> <br>
    <div style="font-family: Arial, Helvetica, sans-serif; justify-self: center; padding-top: 10px;">
        <table
            style=" border-collapse: collapse; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border: none; margin: auto; ">
            <tr style="background-color: #ececec; font-size: 20px; font-weight: bold;">
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Service Name</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Start Time</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">End Time</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Location</th>
                <th style="background-color: #ececec; font-size: 20px; font-weight: bold;">Action</th>

            </tr>
            <% bookings.forEach((el)=> { %>
                <tr style="font-size: 18px; background-color: #ffffff;">
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.Slot.serviceName %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.Slot.formatStartTime %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.Slot.formatEndTime %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">
                        <%= el.Slot.location %>
                    </td>
                    <td style="text-align: center; padding: 10px; border: 1px solid #1e3a8a;">CANT DELETE ALR BOOKED</td>
                </tr>
                <% }) %>
        </table>
    </div>


</body>

</html>